<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.dhimandasgupta.myjetpacknews">

    <uses-permission android:name="android.permission.INTERNET" />

    <!-- Need to add this so that In Android 11 onwards the Browser check is successful -->
    <queries>
        <!-- For Opening URLs in an external browser like Chrome -->
        <intent>
            <action android:name="android.intent.action.VIEW" />
            <category android:name="android.intent.category.BROWSABLE" />
            <data android:scheme="https" />
        </intent>
    </queries>

    <application
        android:name=".App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MyJetpackNews">
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/Theme.MyJetpackNews.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".SingleSourceActivity"
            android:theme="@style/Theme.MyJetpackNews.NoActionBar"/>
        <activity android:name=".MultiSourceActivity"
            android:theme="@style/Theme.MyJetpackNews.NoActionBar"/>
    </application>

</manifest>